machine:
  services:
    - docker

dependencies:
  override:
    - docker info
    - docker build --rm=false -t jchancehud/libstorj .

deployment:
  hub:
    branch: master
    commands:
      - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
      - docker push jchancehud/libstorj
